inheritance/AbstractGeometry/.vs/AbstractGeometry/v17/Browse.VC.opendb
/DataContainers/.vs/DataContainers/v17/ipch/AutoPCH/65c7750e29c53151
/ForwardList/x64/Debug/ForwardList.tlog
/ForwardList/x64/Debug
/DataContainers/.vs/DataContainers
/DataContainers/x64/Debug
test/.vs/test/v17/ipch/AutoPCH/786ce8b3dfe019f/TEST.ipch
test/.vs/test/v17/Browse.VC.db
test/.vs/test/v17/Browse.VC.db-shm
test/.vs/test/v17/Browse.VC.db-wal
test/.vs/test/v17/Browse.VC.opendb
