inheritance/AbstractGeometry/.vs/AbstractGeometry/v17/Browse.VC.opendb
/DataContainers/.vs/DataContainers/v17/ipch/AutoPCH/65c7750e29c53151
/ForwardList/x64/Debug/ForwardList.tlog
/ForwardList/x64/Debug
/DataContainers/.vs/DataContainers
/DataContainers/x64/Debug
